<template>
  <div style="position: relative">
    <div
      v-for="(i, index) in parts(cnt)"
      :key="index"
      class="loader-part"
      :style="{
        transform: `
        translate(
          ${Math.sin(((Math.PI * 2) / cnt) * i) * 100}px,
          ${Math.cos(((Math.PI * 2) / cnt) * i) * 100}px
        )
        rotate(${(360 / -cnt) * (i + s)}deg)`,
        animationDelay: `${i / cnt}s`,
      }"></div>
  </div>
  <div style="position: absolute; top: 100px">FPS: {{ fps }}</div>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

const cnt = 36
const parts = (count = cnt) => {
  const arr = []
  for (let i = 1; i <= count; i += 1) arr.push(i)
  return arr
}

const fps = ref(0)
const frame = ref(0)
const s = ref(0)
const inc = ref(0.1)

onMounted(() => {
  setInterval(() => {
    if (s.value > 100) inc.value = -inc.value
    if (s.value < -100) inc.value = -inc.value
    s.value += inc.value
    frame.value += 1
  }, 1)
})

setInterval(() => {
  fps.value = frame.value
  frame.value = 0
}, 1000)
</script>

<style scoped>
.loader-part {
  width: 10px;
  height: 20px;
  border-radius: 20px;
  position: absolute;
  background-color: bisque;
  animation: blink infinite 1s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
